.nav{
    background-color: #111;
    margin-bottom: 0px;
}
.button1
{
    background-color: #111;
    backface-visibility: hidden;
    border: none !important; 
    color : #f1f1f1;
    font-size: 20px;
    letter-spacing: 5px;
}
.button1:hover{
    background-color: #f1f1f1;
    color : #111;
}
.button
{
    background-color: #111;
    backface-visibility: hidden;
    border: none !important; 
    color : #f1f1f1;
    font-size: 17px;
}
.button:hover{
    background-color: #f1f1f1;
    color : #111;
}
.question-back{
    border-radius: 20px 20px;
    border: solid;
    border-color: darkslategray;
    background: linear-gradient(to bottom right, #dedce8, #f9f9f9,#1111);
    opacity: 0.6;
    
}
.sky {
  position:absolute;
  width:100%;
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #283E51, #0A2342);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #283E51, #0A2342); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -olinear-gradient(to top, #283E51, #0A2342); 
  height: 100vh;
}

.stars {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

h3 {
  font-family: 'Rammetto One';
  text-align: center;
  font-size: 1.75rem;
  color: #fff;
  width: 55%;
  margin: 5rem auto;
  line-height: 3rem;
  letter-spacing: 5px;
}

/*****************************************
Check out Nat's pen with animated SVG weather icons. 

https://codepen.io/nsayenko/pen/JKzxdm/
*******************************************/